<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agratas Infotech - Delivering cutting-edge technology, AI, and smart solutions to shape a sustainable future. Join AgratAsia Hack24 for innovation in AI, Cyber Security, Smart Education, and more."
    />
    <meta
      name="keywords"
      content="Agratas Infotech, Technology, AI, Smart Education, Cyber Security, AI & ML, Gaming, Graphics, Drones, Gadgets, AgratAsia Hack24"
    />
    <meta name="author" content="Agratas Infotech" />
    <meta
      property="og:title"
      content="Agratas Infotech - Innovating the Future"
    />
    <meta
      property="og:description"
      content="Join AgratAsia Hack24 - AI, Cyber Security, Smart Education, Disaster Management, and more!"
    />
    <meta
      property="og:image"
      content="https://assets.mixkit.co/videos/23742/23742-720.mp4"
    />
    <meta property="og:url" content="https://agratasinfotech.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>Agratas Infotech | Technology & Innovation</title>
 
    <link
      rel="icon"
      href="img/agratas-main-logo.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="Style.css" />
  </head>
  <body>
    <!---------------------------------NAVBAR----------------------------------- -->
    <nav>
      <div class="logo">
        <a href="Index.html"
          ><img src="img/agratas-main-logo.png" alt="logo"
        /></a>
      </div>
      <div class="option">
        <ul class="nav-links">
          <li>
            <a href="#">
              What we do <span class="arrow fa fa-angle-down"></span
            ></a>
            <ul class="submenu">
              <li id="active">
                <a href="#"
                  >Overview
                  <span
                    class="arrow fa fa-angle-right right-arrow toggle-submenu"
                  ></span>
                  <span class="tcs-hover"
                    >Agratas Infotech Private Limited</span
                  >
                  <span class="tcs-hover-details">
                    Founded in November 25, 2020. Agratas Infotech is a premier
                    product-based technology <br />
                    company headquatered in Ocean Plaza, Sector 18 , Noida. We
                    specialized to develop <br />
                    cutting edge software products tailored for Industries such
                    as Healthcare, Finance <br />
                    Retails, etc. Our mission is to empower Businesses by
                    enhancing and fostering operational <br />
                    efficiency and fostering digital transformation through
                    innovative technology.
                    <br />
                    <br />
                    <strong><u>Our Mission</u></strong
                    >: To empower by delivering innovative technology solutions
                    <br />
                    that drive digital transformation and operational
                    excellence. <br />
                    <br />
                    <strong><u>Our Vision</u></strong
                    >: To be a Global leader in technology innovation,
                    consistantly <br />
                    delivering Soultions that exceeds our client's expectations
                    and shape the future.
                  </span>
                </a>
              </li>
              <li id="active">
                <a href="#"
                  >Industries
                  <span
                    class="arrow fa fa-angle-right right-arrow toggle-submenu"
                  ></span>
                </a>
                <ul class="inner-submenu" id="inner-submenu-one">
                  <a href="banking_finance.html"><li>Banking</li></a>
                  <a href="banking_finance.html"><li>Finance</li></a>
                  <li>Digitalization</li>
                  <li>Communications, Media, and Information Services</li>
                  <li>Education</li>
                  <li>Supply Chain Management</li>
                  <li>High Tech</li>
                  <li>Life Sciences</li>
                  <li>Open Sourcing</li>
                </ul>
              </li>
              <li id="active">
                <a href="#"
                  >Services
                  <span class="arrow fa fa-angle-right" id="right-arrow"></span
                ></a>
                <ul class="inner-submenu" id="inner-submenu-two">
                  <a href="ArtificialIntelIigence.html"
                    ><li>Artificial Intelligence</li></a
                  >
                  <a href="cloudArticle.html"><li>Cloud</li></a>
                  <a href="DigitalMarketing.html"
                    ><li>Digitalization</li></a
                  >
                  <a href="cybersecurity.html"
                    ><li>Cyber Security</li></a
                  >
                  <a href="web_development.html"
                    ><li>Web Development</li></a
                  >
                  <a href="mobile_app_development.html"
                    ><li>Mobile App Development</li></a
                  >
                  <a href="IT_consulting.html"
                    ><li>IT Consultance</li></a
                  >
                  <a href="Ecommerce.html"
                    ><li>E-Commerce solutions</li></a
                  >
                </ul>
              </li>
              <li id="active">
                <a href="#"
                  >Product and Platforms
                  <span class="arrow fa fa-angle-right" id="right-arrow"></span
                ></a>
                <ul class="inner-submenu" id="inner-submenu-three">
                  <a href="{% url 'dashboard' %}"
                    ><li>AIPL ShopApp<sup>TM</sup></li></a
                  >
                  <a href="{% url 'dashboard' %}"
                    ><li>AIPL ERP<sup>TM</sup></li></a
                  >
                  <a href="{% url 'dashboard' %}"><li>AIPL SploitWeb</li></a>
                  <a href="{% url 'dashboard' %}"
                    ><li>AIPL Hotel Management System<sup>TM</sup></li></a
                  >
                  <a href="{% url 'dashboard' %}"
                    ><li>
                      AIPL Customer Intelligence & Insights<sup>TM</sup>
                    </li></a
                  >
                  <a href="{% url 'dashboard' %}"><li>AIPL ERP on Cloud</li></a>
                  <a href="{% url 'dashboard' %}"
                    ><li>AIPL Restaurant Management System<sup>TM</sup></li></a
                  >
                  <a href="{% url 'dashboard' %}"
                    ><li>AIPL College ERP<sup>TM</sup></li></a
                  >
                </ul>
              </li>
              <li id="active">
                <a href="#"
                  >Research and Innovations
                  <span class="arrow fa fa-angle-right" id="right-arrow"></span
                ></a>
                <ul class="inner-submenu" id="inner-submenu-four">
                  <li>AIPL Research</li>
                  <li>AIPL R&D Team</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"
              >Who are we <span class="arrow fa fa-angle-down"></span
            ></a>
            <ul class="submenu">
              <li id="active">
                <a href="overview.html">Overview</a>
              </li>
              <li><a href="impact.html">Impact</a></li>
              <li>
                <a href="leadership.html">Leadership</a>
              </li>
              <li>
                <a href="testimonials.html">Testimonial</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"
              >Education <span class="arrow fa fa-angle-down"></span
            ></a>
            <ul class="submenu">
              <li id="active">
                <a href="internship.html">Internships</a>
              </li>
              <li><a href="AgratasiaHackForm.html">Hackathons</a></li>
              <li>
                <a href="placements.html">Placement</a>
              </li>
              <li>
                <a href="industrial_training.html"
                  >Industrial Training</a
                >
              </li>
              <li>
                <a href="techsummit.html">Tech Summit</a>
              </li>
              <li>
                <a href="FDP.html">FDP</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Careers <span class="arrow fa fa-angle-down"></span></a>
            <ul class="submenu">
              <li id="active">
                <a href="overview.html">Overview</a>
              </li>
              <li><a href="maintenance.html">Internships</a></li>
              <li><a href="maintenance.html">Developers</a></li>
              <li><a href="maintenance.html">Regional Partners</a></li>
              <li>
                <a href="maintenance.html">Management Employees</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"
              >Newsroom <span class="arrow fa fa-angle-down"></span
            ></a>
            <ul class="submenu">
              <li id="active">
                <a href="overview.html">Overview</a>
              </li>
              <li><a href="maintenance.html">Press release</a></li>
              <li><a href="maintenance.html">News alerts</a></li>
              <li><a href="maintenance.html">Analyst recognition</a></li>
              <li><a href="maintenance.html">Media kit</a></li>
            </ul>
          </li>
          <li>
            <a href="#"
              >Investors <span class="arrow fa fa-angle-down"></span
            ></a>
            <ul class="submenu">
              <li id="active">
                <a href="overview.html">Overview</a>
              </li>
              <li><a href="maintenance.html">Manage Commentary</a></li>
              <li><a href="maintenance.html">Financials</a></li>
              <li><a href="maintenance.html">News and Events</a></li>
              <li><a href="maintenance.html">ESG</a></li>
              <li><a href="maintenance.html">Resources</a></li>
            </ul>
          </li>
          <li><a href="maintenance.html">AIPL worldwide</a></li>
        </ul>
      </div>
      <div class="searchbar">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="address-bar-container" id="address-bar-container">
        <div class="address-bar">
          <input
            type="text"
            class="search-input"
            placeholder="Search here..."
          />
          <button class="close-btn" id="close-btn">X</button>
        </div>
      </div>
      <div class="hamburger" id="hamburger">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
    </nav>

    <!------------------------ALERT_MSG-------------------------- -->
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'css/alert_msg.css' %}" /> -->
    {% if messages %} {% for message in messages %} {% if message.tags ==
    'success' %}
    <div class="success">{{ message }}</div>
    {% elif message.tags == 'error' %}
    <div class="error">{{ message }}</div>
    {% endif %} {% endfor %} {% endif %}

    <!----------------------- IMAGE SLIDER -------------------------->
    <main>
      <div class="slider">
        <div class="slider--content">
          <button class="slider__btn-left">
            <i class="fas fa-angle-left"></i>
          </button>
          <div class="slider--feature">
            <h1 class="slider--title"></h1>
            <p class="slider--text"></p>
            <a href="#" class="slider--btn">Get started</a>
            <!-- Turned the button into a link -->
          </div>

          <button class="slider__btn-right">
            <i class="fas fa-angle-right"></i>
          </button>
        </div>
      </div>
    </main>
  

    <!-------------------------------SIGNUP PAGE---------------------------->
    <div class="hero-buttons bottom-left">
        <a href="signup.html" class="btn signup"><i class="fas fa-user-plus"></i> Sign Up</a>
        <a href="signin.html" class="btn signin"><i class="fas fa-sign-in-alt"></i> Sign In</a>
    </div>


    <!----------------------------------BLOG SECTION------------------------------->
    <div class="container">
      <div class="card">
        <div class="card__header">
          <img
            src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="card__image"
            class="card__image"
            width="600"
          />
        </div>
        <div class="card__body">
          <span class="tag tag-blue">Technology</span>
          <h4>What's new in 2024 Tech</h4>
          <p>
            At our core, we are driven by a commitment to pushing the boundaries
            of innovation. By integrating breakthrough technologies with
            operational excellence, we empower businesses to adapt, evolve, and
            lead in a rapidly digitizing world. Our focus on streamlined systems
            and superior support ensures that our partners stay ahead of the
            curve.
          </p>
        </div>
        <div class="card__footer">
          <div class="user">
            <img
              src="img/Arun_Kumar.jpeg"
              alt="user__image"
              class="user__image"
            />
            <div class="user__info">
              <h5>Mr. Arun Kr.</h5>
              <small>Co-Founder</small>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <img
            src="https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="card__image"
            class="card__image"
            width="600"
          />
        </div>
        <div class="card__body">
          <span class="tag tag-brown">Research</span>
          <h4>Research and Data-Driven Insights</h4>
          <p>
            Research fuels the future of progress. Our team is dedicated to
            generating insights that not only advance technology but also shape
            industries. Through cutting-edge methodologies and deep analytical
            frameworks, we deliver actionable intelligence that allows our
            clients to stay informed, make strategic decisions, and lead with
            confidence.
          </p>
        </div>
        <div class="card__footer">
          <div class="user">
            <img
              src="https://i.pravatar.cc/40?img=2"
              alt="user__image"
              class="user__image"
            />
            <div class="user__info">
              <h5>Dr. Sandeep Singh</h5>
              <small>Founder & CEO</small>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <img
            src="https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="card__image"
            class="card__image"
            width="600"
          />
        </div>
        <div class="card__body">
          <span class="tag tag-red">AI</span>
          <h4>Race to your heart content</h4>
          <p>
            Artificial intelligence is more than a tool; it’s a transformative
            force. At our company, we harness the latest in AI advancements to
            optimize operations, foster smarter decision-making, and drive
            innovation across industries. From machine learning to predictive
            analytics, we enable businesses to unlock new potentials and operate
            at unprecedented levels of efficiency.
          </p>
        </div>
        <div class="card__footer">
          <div class="user">
            <img
              src="https://i.pravatar.cc/40?img=3"
              alt="user__image"
              class="user__image"
            />
            <div class="user__info">
              <h5>Mr. Prashant Dwivedi</h5>
              <small>Director</small>
            </div>
          </div>
        </div>
      </div>
    </div>
<!---------------------------------------------- FAQ ------------------------------------------------->
<div class="parent-container">
    <!-- BEGIN ACCORDION SECTION -->
    <div class="accordion">
        <div class="accordion-group">
            <div class="accordion-menu">What services does Agratas Infotech® provide? 
                <div class="accordion-plus">+</div>
            </div>
            <div class="accordion-content">
                <div class="accordion-inner-content">
                    <p>We offer a comprehensive range of design services, including branding, UI/UX design, and development. Our skilled team of designers and developers collaborate to create cohesive and impactful solutions tailored to your unique needs and goals.</p>
                </div>
            </div>
        </div> <!-- END ACCORDION SECTION -->
        <!-- BEGIN ACCORDION SECTION -->
        <div class="accordion">
            <div class="accordion-group">
                <div class="accordion-menu">How long does a typical project take? 
                    <div class="accordion-plus">+</div>
                </div>
                <div class="accordion-content">
                    <div class="accordion-inner-content">
                        <p>The timeline for each project depends on its complexity and scope. Once we've discussed your project requirements and objectives, we'll provide you with a detailed timeline and keep you updated throughout the process. We strive to deliver high-quality work within the agreed-upon timeframe.</p>
                    </div>
                </div>
            </div> <!-- END ACCORDION SECTION -->
            <!-- BEGIN ACCORDION SECTION -->
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-menu">How much does it cost to work with Agratas Infotech®?  
                        <div class="accordion-plus">+</div>
                    </div>
                    <div class="accordion-content">
                        <div class="accordion-inner-content">
                            <p>We understand that every project is unique, so we provide customized quotes based on your specific needs and goals. Generally, we operate on an hourly basis with a rate of $65 per hour. We typically work on projects with a minimum budget of $1,000. To get a better understanding of your project's cost, please reach out to us and provide some details about your requirements. We'll be happy to provide you with a tailored quote that aligns with your project's scope and objectives.</p>
                         </div>
                    </div>
                </div> <!-- END ACCORDION SECTION -->
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-menu">Can I see examples of your previous work? 
                        <div class="accordion-plus">+</div>
                    </div>
                    <div class="accordion-content">
                        <div class="accordion-inner-content">
                            <p>Absolutely! We're proud of the work we've done with our clients and would be happy to share our portfolio with you. Please visit our Case Studies section to explore some of our success stories and get a better sense of our design capabilities.</p>
                            <h2>Example:</h2>
                            <ul>
                                <li>Working For Universities
                                    <ul>
                                        <li>Developed ERP of Sharda University</li>
                                        <li>Developed Website of Benette University</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- END ACCORDION SECTION -->
            </div>
        </div>
    </div>
</div>

<!------------------------------------------ SIDE_ARRESTER ----------------------------------->
<div class="social-icons">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/agratas-infotech-pvt-ltd/posts/?feedView=all"><i class="fab fa-linkedin-in"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  
  <!-- Contact Icon with Text -->
  <a class="contact-icon" onclick="showContactForm()">
    <i class="fas fa-envelope"></i> <span>Contact Us</span>
  </a>
  
  <!-- Contact Form Container -->
  <div class="contact-form-container" id="contactFormContainer">
    <!-- Contact Form -->
    <form class="contact-form" id="contactForm">
      <span class="close-icon" onclick="hideContactForm()"><i class="fas fa-times"></i></span> <!-- Close icon -->
      <input type="text" placeholder="Full Name" required>
      <input type="email" placeholder="Email Address" required>
      <input type="tel" placeholder="Phone Number">
      <textarea placeholder="Message" required></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>

<!------------------------------------ HORIZONTAL TAB --------------------------------------->
<main>
    <section class="tab__container">
        <h1>Why AIPL ?</h1>
        <div class="tab__title">
          <button class="tab__button tab_button-active" onclick="openTab('one', this)">
            <i class="fas fa-bullseye"></i>
            Impact
        </button>
        <button class="tab__button" onclick="openTab('two', this)">
            <i class="fas fa-graduation-cap"></i>
            Development
        </button>
        <button class="tab__button" onclick="openTab('three', this)">
            <i class="fas fa-hands-helping"></i>
            Support
        </button>
        <button class="tab__button" onclick="openTab('four', this)">
            <i class="fas fa-chart-line"></i>
            Progress
        </button>
        </div>
        <!---- Start tab ---->
        <div id="one" class="tab__inside tab__inside-active">
            <div class="tab__inside-img">
                <img src="https://images.unsplash.com/photo-1504805572947-34fad45aed93?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Impact">
            </div>
            <div class="tab__inside-text">
                <h3>Leading with purpose</h3>
                <p>Through the application of innovation and our contextual knowledge, we give associates the opportunity to deliver transformative outcomes that benefit society at large and prove that anything is possible.</p>
            </div>
        </div>
        <!---- End tab ---->

        <!---- Start tab ---->
        <div id="two" class="tab__inside">
            <div class="tab__inside-img">
                <img src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=1772&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Development">
            </div>
            <div class="tab__inside-text">
                <h3>Continuous learning</h3>
                <p>We equip our associates to deliver innovative solutions, by providing them with opportunities to access and learn from the vast collective experience that exists within AIPL. We ensure they remain at the cutting edge of change.</p>
            </div>
        </div>
        <!---- End tab ---->

        <!---- Start tab ---->
        <div id="three" class="tab__inside">
            <div class="tab__inside-img">
                <img src="https://images.unsplash.com/photo-1455849318743-b2233052fcff?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Support">
            </div>
            <div class="tab__inside-text">
                <h3>Support</h3>
                <p>Through upskilling and reskilling, and with opportunities to move across the business, our people, regardless of age or stage of their career, are supported to discover and become the professionals they were meant to be.</p>
            </div>
        </div>
        <!---- End tab ---->

        <!---- Start tab ---->
        <div id="four" class="tab__inside">
            <div class="tab__inside-img">
                <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Progress">
            </div>
            <div class="tab__inside-text">
                <h3>Progress</h3>
                <p>We see our people as long-term relationships that we build together and from which we all grow. We invest in them across the duration of their career and encourage them to strive for perpetual progress.</p>
            </div>
        </div>
        <!---- End tab ---->
    </section>
</main>
    <!-- 
    From: Priyesh Pandey
    To: Dear Frontend Developer !

    Please leave a comment if you have made any changes
    USING DJANGO FILE ARCHITECTURE:
    
    ** base folder consist of those files which are commonly used in other main pages ** 
    base folder -- navbar, footer  
    home_page folder -- consists of only home page component like FAQ, Blog etc

    
    -->

 
    <!--------------------------------------------------- FOOTER ---------------------------------------->
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">Agratas Infotech Private Limited</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Company</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Get started</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Services</li>
          <li><a href="#">App Development</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Game Development</a></li>
          <li><a href="#">UIUX/Logo design</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Opportunities</li>
          <li><a href="#">ID Verification</a></li>
          <li><a href="{% url 'articles' '#' %}">Apply for Jobs</a></li>
          <li><a href="{% url 'articles' '#' %}">Explore Hackathons</a></li>
          <li><a href="#">Our R&D Team</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Specialized</li>
          <li><a href="ArtificialIntelIigence.html">Artificial Intelligence</a></li>
          <li><a href="#">Machine Learning</a></li>
          <li><a href="DigitalMarketing.html">Digital Marketing</a></li>
          <li><a href="#">Internet of Things</a></li>
        </ul>
        <ul class="box input-box">
            <form 
            style="
              background: transparent;
              padding: 0px;
              border-radius: 0px;
              box-shadow: 0 0 0px transparent;
              width: auto;
              max-width: unset;
              box-sizing: unset;
            "
            class="footer-form" action="{% url 'subscribe' %}" method="post">
              {% csrf_token %}
              <li class="link_name">Subscribe</li>
              <li><input type="email" name="subscribe" placeholder="Enter your email"></li>
              <li><input type="submit"></li>
            </form>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2024 <a href="#">erp.agratasinfotech.com</a>All rights reserved</span>
        <span class="policy_terms">
          <a href="refund2.html">Refund policy</a>
          <a href="privacy.html">Privacy policy</a>
          <a href="Terms_and_Conditions.html">Terms & Conditions</a>
        </span>
      </div>
    </div>
  </footer>
  </body>
</html>
<script src="Script.js"></script>