<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund Policy - Agratas Infotech Pvt Ltd</title>

    <link rel="stylesheet" href="Style.css">
    <style>
        nav{
            left: 0px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Header Section -->
 <!---------------------------------NAVBAR----------------------------------- -->
 <nav>
    <div class="logo">
      <a href="Index.html"
        ><img src="img/agratas-main-logo.png" alt="logo"
      /></a>
    </div>
    <div class="option">
      <ul class="nav-links">
        <li>
          <a href="#">
            What we do <span class="arrow fa fa-angle-down"></span
          ></a>
          <ul class="submenu">
            <li id="active">
              <a href="#"
                >Overview
                <span
                  class="arrow fa fa-angle-right right-arrow toggle-submenu"
                ></span>
                <span class="tcs-hover"
                  >Agratas Infotech Private Limited</span
                >
                <span class="tcs-hover-details">
                  Founded in November 25, 2020. Agratas Infotech is a premier
                  product-based technology <br />
                  company headquatered in Ocean Plaza, Sector 18 , Noida. We
                  specialized to develop <br />
                  cutting edge software products tailored for Industries such
                  as Healthcare, Finance <br />
                  Retails, etc. Our mission is to empower Businesses by
                  enhancing and fostering operational <br />
                  efficiency and fostering digital transformation through
                  innovative technology.
                  <br />
                  <br />
                  <strong><u>Our Mission</u></strong
                  >: To empower by delivering innovative technology solutions
                  <br />
                  that drive digital transformation and operational
                  excellence. <br />
                  <br />
                  <strong><u>Our Vision</u></strong
                  >: To be a Global leader in technology innovation,
                  consistantly <br />
                  delivering Soultions that exceeds our client's expectations
                  and shape the future.
                </span>
              </a>
            </li>
            <li id="active">
              <a href="#"
                >Industries
                <span
                  class="arrow fa fa-angle-right right-arrow toggle-submenu"
                ></span>
              </a>
              <ul class="inner-submenu" id="inner-submenu-one">
                <a href="banking_finance.html"><li>Banking</li></a>
                <a href="banking_finance.html"><li>Finance</li></a>
                <li>Digitalization</li>
                <li>Communications, Media, and Information Services</li>
                <li>Education</li>
                <li>Supply Chain Management</li>
                <li>High Tech</li>
                <li>Life Sciences</li>
                <li>Open Sourcing</li>
              </ul>
            </li>
            <li id="active">
              <a href="#"
                >Services
                <span class="arrow fa fa-angle-right" id="right-arrow"></span
              ></a>
              <ul class="inner-submenu" id="inner-submenu-two">
                <a href="ArtificialIntelIigence.html"
                  ><li>Artificial Intelligence</li></a
                >
                <a href="cloudArticle.html"><li>Cloud</li></a>
                <a href="DigitalMarketing.html"
                  ><li>Digitalization</li></a
                >
                <a href="cybersecurity.html"
                  ><li>Cyber Security</li></a
                >
                <a href="web_development.html"
                  ><li>Web Development</li></a
                >
                <a href="mobile_app_development.html"
                  ><li>Mobile App Development</li></a
                >
                <a href="IT_consulting.html"
                  ><li>IT Consultance</li></a
                >
                <a href="Ecommerce.html"
                  ><li>E-Commerce solutions</li></a
                >
              </ul>
            </li>
            <li id="active">
              <a href="#"
                >Product and Platforms
                <span class="arrow fa fa-angle-right" id="right-arrow"></span
              ></a>
              <ul class="inner-submenu" id="inner-submenu-three">
                <a href="{% url 'dashboard' %}"
                  ><li>AIPL ShopApp<sup>TM</sup></li></a
                >
                <a href="{% url 'dashboard' %}"
                  ><li>AIPL ERP<sup>TM</sup></li></a
                >
                <a href="{% url 'dashboard' %}"><li>AIPL SploitWeb</li></a>
                <a href="{% url 'dashboard' %}"
                  ><li>AIPL Hotel Management System<sup>TM</sup></li></a
                >
                <a href="{% url 'dashboard' %}"
                  ><li>
                    AIPL Customer Intelligence & Insights<sup>TM</sup>
                  </li></a
                >
                <a href="{% url 'dashboard' %}"><li>AIPL ERP on Cloud</li></a>
                <a href="{% url 'dashboard' %}"
                  ><li>AIPL Restaurant Management System<sup>TM</sup></li></a
                >
                <a href="{% url 'dashboard' %}"
                  ><li>AIPL College ERP<sup>TM</sup></li></a
                >
              </ul>
            </li>
            <li id="active">
              <a href="#"
                >Research and Innovations
                <span class="arrow fa fa-angle-right" id="right-arrow"></span
              ></a>
              <ul class="inner-submenu" id="inner-submenu-four">
                <li>AIPL Research</li>
                <li>AIPL R&D Team</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"
            >Who are we <span class="arrow fa fa-angle-down"></span
          ></a>
          <ul class="submenu">
            <li id="active">
              <a href="overview.html">Overview</a>
            </li>
            <li><a href="impact.html">Impact</a></li>
            <li>
              <a href="leadership.html">Leadership</a>
            </li>
            <li>
              <a href="testimonials.html">Testimonial</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"
            >Education <span class="arrow fa fa-angle-down"></span
          ></a>
          <ul class="submenu">
            <li id="active">
              <a href="internship.html">Internships</a>
            </li>
            <li><a href="AgratasiaHackForm.html">Hackathons</a></li>
            <li>
              <a href="placements.html">Placement</a>
            </li>
            <li>
              <a href="industrial_training.html"
                >Industrial Training</a
              >
            </li>
            <li>
              <a href="techsummit.html">Tech Summit</a>
            </li>
            <li>
              <a href="FDP.html">FDP</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Careers <span class="arrow fa fa-angle-down"></span></a>
          <ul class="submenu">
            <li id="active">
              <a href="overview.html">Overview</a>
            </li>
            <li><a href="maintenance.html">Internships</a></li>
            <li><a href="maintenance.html">Developers</a></li>
            <li><a href="maintenance.html">Regional Partners</a></li>
            <li>
              <a href="maintenance.html">Management Employees</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"
            >Newsroom <span class="arrow fa fa-angle-down"></span
          ></a>
          <ul class="submenu">
            <li id="active">
              <a href="overview.html">Overview</a>
            </li>
            <li><a href="maintenance.html">Press release</a></li>
            <li><a href="maintenance.html">News alerts</a></li>
            <li><a href="maintenance.html">Analyst recognition</a></li>
            <li><a href="maintenance.html">Media kit</a></li>
          </ul>
        </li>
        <li>
          <a href="#"
            >Investors <span class="arrow fa fa-angle-down"></span
          ></a>
          <ul class="submenu">
            <li id="active">
              <a href="overview.html">Overview</a>
            </li>
            <li><a href="maintenance.html">Manage Commentary</a></li>
            <li><a href="maintenance.html">Financials</a></li>
            <li><a href="maintenance.html">News and Events</a></li>
            <li><a href="maintenance.html">ESG</a></li>
            <li><a href="maintenance.html">Resources</a></li>
          </ul>
        </li>
        <li><a href="maintenance.html">AIPL worldwide</a></li>
      </ul>
    </div>
    <div class="searchbar">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="address-bar-container" id="address-bar-container">
      <div class="address-bar">
        <input
          type="text"
          class="search-input"
          placeholder="Search here..."
        />
        <button class="close-btn" id="close-btn">X</button>
      </div>
    </div>
    <div class="hamburger" id="hamburger">
      <div class="line line-1"></div>
      <div class="line line-2"></div>
      <div class="line line-3"></div>
    </div>
  </nav>

    <!-- Content Wrapper -->
    <div class="content-wrapper">
        <div class="Terms-sidebar">
            <h4 style="font-weight:bold; font-size:smaller;">Terms and Conditions</h4>
            <ul>
                <li><a href="#">Use of Content</a></li>
                <li><a href="#">Acceptable Website Use</a></li>
                <li><a href="#">Liability</a></li>
                <li><a href="#">Disclaimer of Consequential Damages</a></li>
            </ul>
        </div>

        <div class="Terms-content">
            <h1>Terms and Conditions</h1>
            <p>The terms "We," "Us," "Our," or "Company" refer to Agratas Infotech Pvt Ltd, and "Visitor" or "User" refers to consumers of this website.</p>
            <p>This document outlines the conditions under which you, the Visitor, may access and use this website ("Website"). By visiting this site, you agree to be bound by these Terms and Conditions. If you do not agree to these terms, please refrain from using the Website. Company, including any business divisions, subsidiaries, or associated companies, retains the right to update these Terms and Conditions at any time. You should revisit this page periodically as any updates are binding.</p>
            
            <p>This document serves as a legally binding agreement between you and Agratas Infotech Pvt Ltd (both as defined below). By accepting this Privacy Policy, either electronically (e.g., by clicking "I accept") or by using the website, you agree to the terms stated here, which will govern your relationship with Agratas Infotech Pvt Ltd for the use of the website ("Website").</p>
            <p>This policy is published in compliance with the Information Technology Act, 2000, specifically the rules regarding reasonable security practices and the handling of sensitive personal data. It governs how we collect, use, store, and transfer your information.</p>
            <p>By using the Website or providing your information, you agree to the collection, storage, processing, and transfer of both your personal and non-personal data in accordance with this Privacy Policy. You further agree that this will not cause any loss or harm to you or others.</p>

            <h2 id="useof">Use of Content</h2>
            <p>All logos, brands, trademarks, headings, labels, names, and other identifiers seen on this website are the property of the Company or are licensed for use by its associates. Reproduction, distribution, or transmission of the Website content in any form is prohibited without prior written permission from the relevant organization. Modifying, selling, or reproducing the website's content for public or commercial purposes without permission is forbidden.</p>
 
            <h2 id="acceptable">Acceptable Website Use</h2>
            <h4 id="security_rules">(A) Security Rules</h2>
            <p>Visitor must not attempt to compromise the security of the Website, including (but not limited to):</p> 
            <p>Accessing data not intended for the user or trying to gain unauthorized access.</p>
            <p>Probing, scanning, or testing the website's systems or security without authorization.</p>
            <p>Interfering with the service through actions such as introducing viruses, overloading, or flooding the Website.</p>
            <p>Sending unsolicited emails, including advertisements or promotions.</p>
            <p>Any violation may result in legal action, and the Company reserves the right to cooperate with authorities as needed.</p>

            <h4 id="general_rules">(B) General Rules</h2>
            <p>Visitors are not permitted to upload or transmit materials that:</p> 
            <p>Could lead to criminal conduct or violate applicable laws.</p>
            <p>Infringe the rights or property or personal rights of others.</p>
            <p>Are defamatory, obscene, offensive, threatening, or otherwise harmful.</p>
            <p>Users agree to indemnify the Company, its officers, employees, and agents from any claims, liabilities, or expenses arising from their use of the Website or any breach of these Terms and Conditions.</p>

            <h2 id="Liability">Liability</h2>
            <p>The Company stipulates that the Company and its officers, directors, employees, or suppliers shall not be liable for any direct, indirect, incidental, special, or consequential damages arising from the use or inability to use the Website or services. This includes, but is not limited to, losses from data, profit, savings, goodwill, or service interruptions. In no event shall the Company's total liability exceed any amount the User has paid to the Company in connection with the issue in action.</p>

            <h2 id="disclaimer">Disclaimer of Consequential Damages</h2>
            <p>The Company and its associated organizations are not responsible for any damages, including but not limited to lost profits, hardware damage, data loss, or business interruption, that result from the use or inability to use the website. This applies regardless of the legal basis for the claim, and even if the possibility of such damages has been advised.</p>
        </div>
    
    </div>

    <!--------------------------------------------------- FOOTER ---------------------------------------->
     <!--------------------------------------------------- FOOTER ---------------------------------------->
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">Agratas Infotech Private Limited</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Company</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Get started</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Services</li>
          <li><a href="#">App Development</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Game Development</a></li>
          <li><a href="#">UIUX/Logo design</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Opportunities</li>
          <li><a href="#">ID Verification</a></li>
          <li><a href="{% url 'articles' '#' %}">Apply for Jobs</a></li>
          <li><a href="{% url 'articles' '#' %}">Explore Hackathons</a></li>
          <li><a href="#">Our R&D Team</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Specialized</li>
          <li><a href="ArtificialIntelIigence.html">Artificial Intelligence</a></li>
          <li><a href="#">Machine Learning</a></li>
          <li><a href="DigitalMarketing.html">Digital Marketing</a></li>
          <li><a href="#">Internet of Things</a></li>
        </ul>
        <ul class="box input-box">
            <form 
            style="
              background: transparent;
              padding: 0px;
              border-radius: 0px;
              box-shadow: 0 0 0px transparent;
              width: auto;
              max-width: unset;
              box-sizing: unset;
            "
            class="footer-form" action="{% url 'subscribe' %}" method="post">
              {% csrf_token %}
              <li class="link_name">Subscribe</li>
              <li><input type="email" name="subscribe" placeholder="Enter your email"></li>
              <li><input type="submit"></li>
            </form>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2024 <a href="#">erp.agratasinfotech.com</a>All rights reserved</span>
        <span class="policy_terms">
          <a href="refund2.html">Refund policy</a>
          <a href="privacy.html">Privacy policy</a>
          <a href="Terms_and_Conditions.html">Terms & Conditions</a>
        </span>
      </div>
    </div>
  </footer>
      <script src="Script.js"></script>
      <script src="nav_configuration.js"></script>
</body>
</html>
